{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div>
<section class="section">
    <h1 class="title">{{ page.title }}</h1>
    <h2 class="subtitle">{{ page.intro | richtext }}</h2>
</section>

    <!--
    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.body|richtext }}
    {% endfor %}-->

    {% for post in page.get_children.specific %}
      <section class="section">
        <h1 class="title">{{ post.title }}</h1>
        <h2 class="subtitle">
          <span>{{ post.intro | richtext }}</span>
        <p class="is-size-7">Posted on {{ post.last_published_at | date:'M d, Y' }}</p>
        </h2>
        <p>{{ post.search_description }}</p>
        <p><a href="{% pageurl post %}" class="button is-info is-light">Read More &rarr;</a></p>
      </section>
    </section>
  {% endfor %}
</div>
{% endblock %}
