Django>=4.2,<5.1
wagtail>=6.2,<6.3
gunicorn>=21.2.0,<22.0.0
psycopg[binary]>=3.1.10
python-markdown-math>=0.8
wagtail-metadata>=4.0.2
dj-database-url>=2.1.0,<3.0.0
whitenoise>=6.7
django-storages[s3]>=1.14.0,<2.0.0
